default: &default
  host: <host>
  user: <user>
  application: rnk-auto
  home_path: /home/rnk-auto/application
  deploy_to: /home/rnk-auto
  repo_url: git@github.com:jpascal/rnk-auto.git
production:
  <<: *default
